@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete for @Model.roleName</h1>

<div class="row text">
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-8 offset-2">
                <partial name="RolePartialView/_RoleDetailsDeletePartialView" />
                <div class="form-group">
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>
