@model TaskVM
@{
    ViewData["Title"] = "Create";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Create Task </h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">

                    <partial name="TaskPartialView/_CreateEditTaskView" />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-primary float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section ValidationScriptSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
