@model SignUpViewModel
@{
	ViewData["Title"] = "SignUp";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">

	<div asp-validation-summary="All"></div>

	<div class="agileits-top">
		<form asp-action="SignUp" method="post">
			<input class="text" asp-for="UserName" placeholder="Username" required="">
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Address" placeholder="Address" required="">
			<input class="text" asp-for="City" placeholder="City" required="">
			<input class="" asp-for="Age" placeholder="Age" required="">
			<input class="text" asp-for="Phone" placeholder="Phone" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<input type="submit" value="SIGNUP">
		</form>
		<p>Don't have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>


@section ValidationScriptSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
