@inject UserManager<ApplicationUser> UserManager;
@*User profile section*@
<div class="dropdown">
    <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)
    </button>
</div>
<span style="padding: 5px;"></span>
<form asp-controller="Account" asp-action="SignIn">
    <button class="btn btn-outline-danger my-2 my-sm-0">
        <i class="bi bi-box-arrow-in-right"></i> Log out
    </button>
</form>






